.newsletterpopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  z-index: 9998;
  display: block!important;
  display: none;
}

.postback {
  display: block!important;
}

.newsletter--narrow .newsletter__wrapper,
.newsletterpopup:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
  margin: 5rem;
}

.newsletter__wrapper:not(.color-background-1) {
  padding: 5rem;
}

@media screen and (min-width: 750px) {
  .newsletter--narrow .newsletter__wrapper,
  .newsletterpopup:not(.newsletter--narrow) .newsletter__wrapper.color-background-1 {
    margin: calc(5rem + var(--page-width-margin));
  }

  .newsletter__wrapper:not(.color-background-1) {
    padding: calc(5rem + var(--page-width-margin));
  }
}

.newsletter__wrapper {
  padding: calc(4rem / var(--font-body-scale));
  position: relative;
}

.closebutton {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

@media screen and (min-width: 750px) {
  .newsletter__wrapper {
    padding: 9rem;
  }
}

.newsletter__wrapper > * {
  margin-top: 0;
  margin-bottom: 0;
}

.newsletter__wrapper > * + * {
  margin-top: 2rem;
}

.newsletter__wrapper > * + .newsletter-form {
  margin-top: 3rem;
}

.newsletter__subheading {
  max-width: 70rem;
  margin-left: auto;
  margin-right: auto;
}

.newsletter__wrapper .newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper .newsletter-form__message {
  margin-top: 1.5rem;
}

.newsletter__button {
  margin-top: 3rem;
  width: fit-content;
}

@media screen and (min-width: 750px) {
  .newsletter__button {
    flex-shrink: 0;
    margin: 0 0 0 1rem;
  }
}
